body {
    background: linear-gradient(to right, #fa8d9f, #ffc3a0);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
h1 {
    color: #d63384;
text-align: center;
}

button {
    background-color: #ff69b4;
    color: white;
    padding: 18px 30px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.2s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  
  button:hover {
    background-color: #ff1493;
    transform: scale(1.1);
  }
  .bunny-img {
    width: 150px;
    margin: 20px auto;
    display: block;
  }
  .card {
    background-color: white;
    padding: 60px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }
  .calendar {
    display: none;
    margin-top: 30px;
    font-size: 18px;
  }
  
  input[type="date"] {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  .no {
    background-color: #999;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: default;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  #eggplantContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 1;
  }
  
  .eggplant {
    position: absolute;
    top: 100%;
    font-size: 32px;
    animation: dropEggplant 4s ease-out forwards;
  }
  
  @keyframes dropEggplant {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-150vh); opacity: 0; }
  }
  .places {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
  }
  
  .places button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ff85a2;
    color: white;
    transition: background 0.3s ease;
  }
  
  .places button:hover {
    background: #ff4d6d;
  }
  .places button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ff85a2;
    color: white;
    transition: background 0.3s ease;
  }
  
  .jedzenie button:hover {
    background: #ff4d6d;
  }.jedzenie button {
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background: #ff85a2;
    color: white;
    transition: background 0.3s ease;
  }
  
  